{
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-organize-imports"],
  "singleQuote": true,
  "trailingComma": "es5",
  "endOfLine": "auto",
  "bracketSameLine": true,
  "printWidth": 150,
  "htmlWhitespaceSensitivity": "ignore"
}
