<div class="flex flex-row">
  <div class="w-1/5">
    <div class="mt-3">
      <h5 class="px-4 text-2xl font-bold">Types</h5>
      <ul class="mt-2">
        @for (productType of productTypes; track $index) {
          <li
            class="nav-primary cursor-pointer rounded-md px-4 py-2 text-lg hover:bg-slate-300"
            [class.bg-slate-300]="productType.id === shopParams.typeId"
            [value]="productType.id"
            (click)="onTypeSelected(productType.id)"
          >
            {{ productType.name }}
          </li>
        }
      </ul>
    </div>
    <div class="mt-5">
      <h5 class="px-4 text-2xl font-bold">Brands</h5>
      <ul class="mt-2">
        @for (productBrand of productBrands; track $index) {
          <li
            class="cursor-pointer rounded-md px-4 py-2 text-lg hover:bg-slate-300"
            [class.bg-slate-300]="productBrand.id === shopParams.brandId"
            [value]="productBrand.id"
            (click)="onBrandSelected(productBrand.id)"
          >
            {{ productBrand.name }}
          </li>
        }
      </ul>
    </div>
  </div>
  <section class="text w-4/5 antialiased">
    <div class="relative mx-auto max-w-screen-xl px-4 2xl:px-0">
      <!-- Heading -->
      <app-product-heading
        [productCount]="productCount"
        [pageSize]="products.length"
        (sortSelected)="onSelectedSort($event)"
        (handleSearch)="handleSearch($event)"
      />

      <!-- Gallery -->
      <div
        class="mb-4 grid gap-4 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 xl:grid-cols-3"
      >
        @for (
          product of products
            | paginate
              : {
                  itemsPerPage: shopParams.pageSize,
                  currentPage: shopParams.pageNumber,
                  totalItems: productCount,
                };
          track $index
        ) {
          <app-product-item [product]="product" />
        }
      </div>

      <!-- Pagination -->
      <pagination-controls
        (pageChange)="onPageChanged($event)"
        previousLabel="Prev"
        nextLabel="Next"
      ></pagination-controls>
    </div>
  </section>
</div>
